/* src/App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  height: 55px;
}

header h1 {
  font-size: 1.5em;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

header nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.cart {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
}

.cart h2, .cart h3 {
  color: #333;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item div {
  display: flex;
  align-items: center;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.2em;
  }

  .container {
    padding: 10px;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .list {
    grid-template-columns: 1fr;
  }
}
